body{
    background-color: goldenrod;
    font-family: 'Brush Script MT', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color:black;
    text-align: center;
    .projects
    { 
        display:flex; 
        flex-wrap:wrap; 
    }
    .project 
    {
        width: 30%;
        margin: 10px;
        padding: 20px 10px;
        background: rebeccapurple;
        border-radius: 25%;
    }
    .about
    {
        display:flex;
        flex-wrap:wrap;
        margin-right: 100px;
        margin-left: 100px;
        justify-content: center;
    }
    .about img 
    {
        width: 150px;
        height: 200px;
        border-radius: 25%;
        border: 2px solid rebeccapurple(126, 14, 201);
    }
    .about p 
    {
     width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
}
